 
body {
    font-family: Arial, sans-serif;
  
    background: linear-gradient(to right, rgb(108, 113, 110),rgb(218, 218, 218));
    margin: 0;
    padding: 20px;
    text-align:center;
    align-self: auto;
    vertical-align: auto;
    
}

 
h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

 
p {
    color: #000000;
    font-size: medium;
    margin-bottom: 20px;
}

 
button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
button a {
    color: white;
    text-decoration: none;
}


button:hover {
    background-color: #2275c8;
}

 
div {
    background-color: white;
    padding: 15px;
    margin: 10px auto;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

 
h3 {
    color: #ff2727;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


p {
    font-size: 14px;
    margin-bottom: 10px;
}

h1{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: xx-large;
}
select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

