* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
 
    background: linear-gradient(to right, rgb(108, 113, 110),rgb(218, 218, 218));
    min-height: 100vh;
}

 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: black;
}

.logo {
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

 
.login-box {
    width: 350px;
    background: white;
    padding: 30px;
    margin: 100px auto;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background: #333;
}

.note {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}
a{
    color: #ccc;
    text-decoration: none;
}
